In [20]:
import pandas as pd
from sklearn.svm import SVC
import joblib

In [21]:
PATH = 'data.csv'
data = pd.read_csv(PATH)

In [22]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
0,0.0,0.0,0.01,0.01,0.02,0.01,0.24,15.55,23.98,2.39,...,5.34,8.84,1.93,0.15,0.27,0.23,0.12,10.79,47.52,E
1,0.0,0.0,0.00,0.03,0.05,0.05,0.23,5.48,11.17,1.76,...,26.26,62.07,8.37,0.51,0.13,0.23,0.11,0.35,4.36,E
2,0.0,0.0,0.00,0.00,0.04,0.34,5.31,463.19,801.52,75.41,...,0.82,2.16,0.32,0.00,0.00,0.00,0.00,0.02,0.71,E
3,0.0,0.0,0.00,0.01,0.08,1.24,18.19,517.44,903.08,109.94,...,0.01,0.01,0.03,0.07,0.13,0.21,0.16,0.19,0.28,E
4,0.0,0.0,0.00,0.40,3.53,12.87,11.28,130.15,205.02,46.71,...,2.38,4.18,0.41,0.02,0.07,0.10,0.07,0.09,3.01,E

In [23]:
data.isnull().sum()

0     0
1     0
2     0
3     0
4     0
     ..
66    0
67    0
68    0
69    0
70    0
Length: 71, dtype: int64

In [24]:
data['70']

0        E
1        E
2        E
3        E
4        E
        ..
2248    E3
2249    E3
2250    E3
2251    E3
2252    E3
Name: 70, Length: 2253, dtype: object

In [25]:
y = data['70']
X = data.drop(['70'], axis = 1)

In [26]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0.0,0.0,0.01,0.01,0.02,0.01,0.24,15.55,23.98,2.39,...,0.48,5.34,8.84,1.93,0.15,0.27,0.23,0.12,10.79,47.52
1,0.0,0.0,0.00,0.03,0.05,0.05,0.23,5.48,11.17,1.76,...,0.37,26.26,62.07,8.37,0.51,0.13,0.23,0.11,0.35,4.36
2,0.0,0.0,0.00,0.00,0.04,0.34,5.31,463.19,801.52,75.41,...,0.00,0.82,2.16,0.32,0.00,0.00,0.00,0.00,0.02,0.71
3,0.0,0.0,0.00,0.01,0.08,1.24,18.19,517.44,903.08,109.94,...,0.04,0.01,0.01,0.03,0.07,0.13,0.21,0.16,0.19,0.28
4,0.0,0.0,0.00,0.40,3.53,12.87,11.28,130.15,205.02,46.71,...,0.02,2.38,4.18,0.41,0.02,0.07,0.10,0.07,0.09,3.01

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [28]:
X_train.shape, X_test.shape

((1577, 70), (676, 70))

In [29]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
1248,0.01,0.03,0.09,0.07,1.02,1.39,0.37,0.20,0.15,0.68,...,0.01,0.08,0.05,0.00,0.01,0.01,0.00,0.01,0.00,0.01
2064,0.02,0.00,0.00,0.00,0.01,0.01,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00
113,0.00,0.00,0.00,0.00,0.01,0.01,0.02,17.75,103.85,39.09,...,0.11,0.98,0.94,0.07,0.34,3.80,2.86,0.10,0.01,0.16
1424,0.01,0.02,0.19,0.31,0.33,0.31,0.17,0.17,0.44,0.36,...,4.68,23.34,12.70,1.17,0.01,0.00,0.00,0.00,0.00,0.00
721,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.02,0.03,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [30]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

svc=SVC(kernel='linear', C=100) 
model = svc.fit(X_train,y_train)

y_pred=model.predict(X_test)
print('Model accuracy score with default hyperparameters: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with default hyperparameters: 0.9734

In [37]:
X_test

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
1804,0.01,0.00,0.0,0.00,0.00,0.01,0.00,0.01,0.01,0.01,...,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.04,0.25,0.08
657,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.01,0.01,0.01,...,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.11,0.32
563,2.08,0.51,0.0,0.00,0.00,0.00,0.00,0.00,0.01,0.03,...,0.00,0.03,0.10,1.02,22.28,18.20,0.30,0.09,0.02,0.01
1315,0.03,0.00,0.0,0.00,0.00,0.02,0.08,0.04,0.00,0.08,...,0.01,0.01,0.00,0.01,0.00,0.01,0.10,0.10,0.01,0.00
1477,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.01,...,3.56,52.24,38.21,1.00,0.03,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,0.00,0.00,0.0,0.00,0.00,0.00,0.01,0.01,0.00,0.04,...,0.04,0.25,0.25,0.10,21.63,56.31,9.67,0.05,0.00,0.01
64,0.00,0.00,0.0,0.01,0.01,0.13,0.29,187.46,1428.55,666.41,...,0.05,0.02,0.01,0.01,0.04,0.07,0.07,0.01,0.01,0.02
1261,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.01,0.01,0.04,...,0.01,0.02,0.00,0.00,0.01,0.01,0.01,0.02,0.00,0.00
2150,0.04,0.01,0.0,0.02,0.03,0.04,0.02,0.01,0.00,0.02,...,4.45,2.14,0.33,0.53,0.37,0.01,0.00,0.16,0.03,0.03
1880,0.00,0.00,0.0,0.00,0.00,0.07,0.11,0.02,0.00,0.01,...,0.00,0.02,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [36]:
joblib.dump(model, 'model.pkl')

['model.pkl']

In [32]:
from sklearn.metrics import classification_report
report = classification_report(y_test, y_pred)

In [33]:
print(report)

              precision    recall  f1-score   support

           A       0.92      0.86      0.89        14
     A-sharp       1.00      1.00      1.00        15
   A-sharp 1       1.00      0.94      0.97        18
   A-sharp 2       1.00      1.00      1.00        21
          A1       0.91      1.00      0.95        20
          A2       1.00      1.00      1.00        16
           B       0.96      1.00      0.98        22
          B1       0.94      0.94      0.94        18
          B2       1.00      1.00      1.00         8
           C       0.96      1.00      0.98        22
     C-sharp       0.96      1.00      0.98        23
   C-sharp 1       1.00      1.00      1.00        21
   C-sharp 2       1.00      1.00      1.00        16
          C1       1.00      0.92      0.96        13
          C2       1.00      1.00      1.00        17
           D       1.00      0.95      0.97        19
     D-sharp       1.00      1.00      1.00        21
   D-sharp 1       0.95      1.00      0.97        19
   D-sharp 2       1.00      1.00      1.00        16
          D1       0.94      1.00      0.97        16
          D2       1.00      1.00      1.00        16
           E       1.00      0.90      0.95        29
          E1       0.81      1.00      0.90        13
          E2       1.00      0.92      0.96        26
          E3       0.96      1.00      0.98        23
           F       1.00      0.77      0.87        13
     F-sharp       0.94      0.94      0.94        18
   F-sharp 1       1.00      1.00      1.00        16
   F-sharp 2       1.00      1.00      1.00        20
          F1       0.90      1.00      0.95        19
          F2       1.00      1.00      1.00        15
           G       0.95      0.95      0.95        19
     G-sharp       1.00      0.96      0.98        24
   G-sharp 1       1.00      1.00      1.00        18
   G-sharp 2       1.00      1.00      1.00        20
          G1       0.93      0.93      0.93        15
          G2       1.00      1.00      1.00        17

    accuracy                           0.97       676
   macro avg       0.97      0.97      0.97       676
weighted avg       0.98      0.97      0.97       676